
#wilcome {
 text-align: center;
 
}
.ios
{
    font-size: 24pt;
  margin: 2px 2px 2px 2px;  
  padding: 5px;
  border: solid 3px #659dbd; 
}

.aboutme { 
  float:left;
  margin: 20px 20px 20px 15px; 
  background-color:#DAAD86;
  font-size: 32px;
  height: 100%;
  width: 100%;
  
 
}

.aboutme_imagebox { 
  float:left;
  margin: 20px 20px 20px 15px; 
 display: inline-block;
 }

.aboutme_text{ 
  float:right;
  margin: 20px 20px 20px 15px;
  padding: 20px;
  border: solid 4px white; 
  background-color:#fbeec1;
 display: inline-block;
  width: 60%;
 

}

.menu{
  border: solid 1px black;
  font-size: 32px;
  

}
.news{
  font-size: 32px;

}
.menu_git{
 margin: 15px 15px 15px 15px ;  
 display: inline-block;
}
.menu_android{
 margin: 15px 15px 15px 15px ;  
display: inline-block;
}



